header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  gap: 16px;
  padding: 8px;
}

.user-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
  gap: 8px;
}

.user-icon {
  width: 16px;
  height: 16px;
  padding: 4px;
  background-color: hsl(96, 64%, 72%);
  border-radius: 50%;
}

.user-name {
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}

.control-panel {
  display: flex;
  justify-content: space-between;
  width: 120px;
  gap: 8px;
}

.app-name {
  text-align: center;
  background: linear-gradient(
    to left,
    hsl(0, 64%, 72%),
    hsl(300, 64%, 72%),
    hsl(240, 64%, 72%),
    hsl(180, 64%, 72%),
    hsl(120, 64%, 72%),
    hsl(60, 64%, 72%)
  );
  -webkit-background-clip: text;
  color: transparent;
  margin: 0;
  line-height: 1.2;
}
