.toggler {
  width: 72px;
  height: 48px;
  display: flex;
  gap: 15px;
  padding-left: 12px;
  justify-content: left;
  align-items: center;
  border-radius: 8px;
  background-color: #eee;

  input {
    cursor: pointer;
  }
}
