.card {
  font-family: 'Inconsolata';
  padding: 0 16px;
  height: 36px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  outline: 1px solid black;
  clip-path: polygon(
    0% 12px,
    0 0,
    calc(100% - 11px) 0%,
    calc(100% - 11px) calc(100% - 23px),
    100% calc(100% - 23px),
    100% calc(100% - 13px),
    calc(100% - 11px) calc(100% - 13px),
    calc(100% - 11px) 100%,
    0 100%,
    0 24px,
    11px 24px,
    11px 12px
  );
  user-select: none;

  & + .card {
    margin-left: -10px;
  }

  &:hover {
    background-color: #ccc;
  }
}
