.card {
  font-family: 'Roboto';
  padding: 0 16px;
  letter-spacing: 1px;
  height: 36px;
  font-weight: 700;
  -webkit-text-stroke: 0.6px white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #888;
  clip-path: polygon(
    0% 12px,
    0 0,
    calc(100% - 11px) 0%,
    calc(100% - 11px) calc(100% - 23px),
    100% calc(100% - 23px),
    100% calc(100% - 13px),
    calc(100% - 11px) calc(100% - 13px),
    calc(100% - 11px) 100%,
    0 100%,
    0 24px,
    11px 24px,
    11px 12px
  );
  user-select: none;

  & + .card {
    margin-left: -10px;
  }

  &:hover {
    background-color: #ccc;
  }

  &.first {
    clip-path: polygon(
      0 0,
      calc(100% - 11px) 0%,
      calc(100% - 11px) calc(100% - 23px),
      100% calc(100% - 23px),
      100% calc(100% - 13px),
      calc(100% - 11px) calc(100% - 13px),
      calc(100% - 11px) 100%,
      0 100%
    );
    &.first-child {
      margin-left: 0;
    }
  }

  &.last {
    clip-path: polygon(
      0% 12px,
      0 0,
      100% 0%,
      100% 100%,
      0 100%,
      0 24px,
      11px 24px,
      11px 12px
    );
    margin-right: 11px;

    &:last-child {
      margin-right: 0;
    }

    & + .first {
      margin-left: -10px;
    }
  }
}
