.main-page {
  width: 768px;
  margin: 0 auto;
  padding: 16px 0;
  text-align: center;
}

.source-block {
  display: flex;
  height: 36px;
  gap: 0;
  justify-content: center;
  flex-wrap: no-wrap;
  margin: 32px 0;
}

.result-block {
  height: 369px;
  margin: 16px auto;

  .row {
    display: flex;
    flex-wrap: no-wrap;
    height: 36px;

    & + .row {
      margin-top: 1px;
    }
  }

  .solved {
    pointer-events: none;
  }

  .card {
    border-radius: 0;
    box-sizing: border-box;

    &.wrong {
      background-color: #ac3030 !important;
      background-image: none !important;
    }
  }
}

.game-button {
  display: inline-flex;
  background-color: #598958;
  color: white;
  transition: background-color 0.3s;
  width: 160px;
  margin: 0 32px;

  &.disabled {
    background-color: #aaa;
    pointer-events: none;
    cursor: not-allowed;
  }
  &:not(.disabled):hover {
    background-color: #40703e;
  }
}

.control-panel {
  display: flex;
  justify-content: space-between;

  .hint-button {
    &.on {
      background-color: #aaa;
      fill: white;
    }
  }
}

.info-block {
  color: rgba(0, 0, 0, 0);
  transition: color 0.8s;

  &.on {
    color: rgba(0, 0, 0, 1);
  }
}

.info-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px 0;
  height: 48px;
}

.spoken-button {
  &.active {
    background-image: url('../../../public/icons/11.gif');
    background-size: 50% 50%;
    background-position: center;
    background-repeat: no-repeat;
  }

  &.off {
    display: none;
  }
}
