.main-page {
  width: 768px;
  margin: 0 auto;
  padding: 16px 0;
  text-align: center;
}

.source-block {
  display: flex;
  height: 36px;
  gap: 0;
  justify-content: center;
  flex-wrap: wrap;
  margin: 32px 0;
}

.result-block {
  height: 360px;
  margin: 16px auto;

  .row {
    display: flex;
    flex-wrap: no-wrap;
  }

  .solved {
    pointer-events: none;
  }

  .card {
    border-radius: 0;
    box-sizing: border-box;
    outline: 1px solid black;

    &.wrong {
      background-color: #e45;
      color: white;
    }
  }
}

.game-button {
  display: inline-flex;
  background-color: #598958;
  color: white;
  transition: background-color 0.3s;
  width: 160px;
  margin: 0 32px;

  &.disabled {
    background-color: #aaa;
    pointer-events: none;
    cursor: not-allowed;
  }
  &:not(.disabled):hover {
    background-color: #40703e;
  }
}
