.login-form {
  width: 352px;
  margin: auto;
}

.tooltip {
  height: 32px;
  text-align: right;
  line-height: 2;
}

.buttons-wrapper {
  padding: 16px;
  display: flex;
  justify-content: space-around;
}