.password-input {
  height: 32px;
  border-radius: 8px;
  text-indent: 4px;
  background-color: hsl(96, 64%, 88%);
  transition:
    background-color 0.2s,
    outline 0.2s;

  &:focus {
    outline: 2px solid hsl(96, 64%, 48%);
  }

  &.invalid {
    background-color: hsl(0, 100%, 88%);
    &:focus {
      outline: 2px solid hsl(0, 100%, 48%);
    }
  }
}
