.try-board {
  display: flex;
  justify-content: center;
  justify-self: center;
  width: 100%;
  padding: 1vh 0 4vh;

  .guess {
    padding: min(0.5vh, 0.5vw);
    font-size: clamp(20px, 3vh, 4vw);
    display: flex;
    user-select: none;
  }

  .counter {
    color: $highlight-text-color;
    align-items: center;
  }
}