@import url(normalize.css);

@font-face {
  font-family: 'Inter';
  src: url(../assets/fonts/Inter[slnt\,wght].ttf) format('ttf');
}

:root {
  font-family: 'Inter';
  line-height: 1.5;
  font-weight: 400;
  background-color: #000;
  color: hsl(96, 64%, 72%);
}

.app-container {
  max-width: 1440px;
}