@import url(normalize.css);

@font-face {
  font-family: 'Inter';
  src: url(../assets/fonts/Inter[slnt\,wght].ttf) format('ttf');
}

:root {
  font-family: 'Inter';
  line-height: 1.5;
  font-weight: 400;
  background-color: hsl(0, 0%, 0%);
  color: hsl(96, 64%, 72%);
}

.app-container {
  max-width: 1440px;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
}

.main button {
  margin: 16px auto;
}
