@charset 'utf-8';

$background-color: hsl(0, 0%, 80%);
$background-transparent-color: hsla(0, 0%, 8%, 0.48);
$background-modal-window-color: hsla(0, 0%, 8%, 0.64);
$dark-shadow-color: hsl(0, 0%, 56%);
$light-shadow-color: hsl(0, 0%, 96%);
$highlight-text-color: hsl(0, 100%, 40%);
$accent-text-color: hsl(60, 100%, 40%);
$dark-text-color: hsl(0, 0%, 32%);