.start-page {
  width: 100%;
  padding-bottom: 16px;

  .description {
    color: #666;
    text-align: center;
  }

  .greeting {
    text-align: center;
    margin: 64px 0 128px;
  }

  .start-button {
    width: 128px;
    margin: 0 auto;
  }
}
