{
  "plugins": ["prettier"],
  "extends": ["airbnb-base", "airbnb-typescript", "prettier"],
  "parserOptions": {
  "project": "./tsconfig.json",
  "prettier"
  },
  "rules": {
    "react/jsx-filename-extension": [0]
  }
 }
