.winner-table {
  width: 480px;
  margin: 16px auto;
  border-top: 1px solid hsl(96, 64%, 48%);
  height: 524px;
}

.table-header {
  display: flex;
}

.table-head {
  display: flex;
  gap: 8px;
  box-sizing: border-box;
  padding: 8px;
  font-weight: 600;
  border: 1px solid hsl(96, 64%, 48%);

  &.active {
    background-color: hsl(96, 64%, 8%);
    color: hsl(96, 64%, 84%);
  }

  &:nth-child(1) {
    width: 32px;
    border-left: 2px solid hsl(96, 64%, 48%);
  }

  &:nth-child(2) {
    justify-content: center;
    width: 88px;
  }

  &:nth-child(3) {
    width: 192px;
  }

  &:nth-child(4) {
    width: 84px;
  }

  &:nth-child(5) {
    width: 84px;
    border-right: 2px solid hsl(96, 64%, 48%);
  }
}

.table-row {
  display: flex;

  &:last-child {
    border-bottom: 1px solid hsl(96, 64%, 48%);
  }
}

.table-cell {
  display: flex;
  align-items: center;
  border: 1px solid hsl(96, 64%, 48%);
  box-sizing: border-box;

  &:nth-child(1) {
    width: 32px;
    justify-content: center;
    border-left: 2px solid hsl(96, 64%, 48%);
  }

  &:nth-child(2) {
    width: 88px;
    padding-right: 12px;
    padding-bottom: 8px;
    position: static;
  }

  &:nth-child(3) {
    width: 192px;
    text-indent: 8px;
  }

  &:nth-child(4) {
    width: 84px;
    text-indent: 8px;
  }

  &:nth-child(5) {
    width: 84px;
    text-indent: 8px;
    border-right: 2px solid hsl(96, 64%, 48%);
  }
}
