.modal-window {
  border: none;
  border-radius: 16px;
  padding: 32px;
  min-width: 256px;
  display: block;
  transform: scale(0);
  opacity: 0;
  transition: all 0.4s;
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  font-weight: 600;

  p {
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  span {
    border-radius: 16px;
    letter-spacing: 1px;
  }

  .known {
    background-color: #6c6;
  }

  .unknown {
    background-color: #f88;
  }

  &[open] {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  &::backdrop {
    background-color: rgba(32, 32, 32, 75%);
    backdrop-filter: blur(8px);
  }

  hr {
    margin-bottom: 16px;
  }

  .modal-button {
    display: flex;
    background-color: #598958;
    color: white;
    transition: background-color 0.3s;
    width: 160px;
    margin: 32px auto 0;

    &:hover {
      background-color: #40703e;
    }
  }

  .audio-button {
    display: inline-flex;
    width: 24px;
    height: 24px;
    margin-left: 16px;
  }

  .thumbnail {
    width: 160px;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
  }

  .description {
    justify-content: center;
    margin: 8px 0 16px;
  }
}
