.game-field {
  display: flex;
  margin: 0 auto;
  // max-width: calc(500px - clamp(2px, 1dvh, 1vw));
  flex-wrap: wrap;

  @media (hover: hover) {
    .cell:hover {
      cursor: pointer;
      outline: darkslateblue solid 2px;
      transition: 0.2s;
      z-index: 3;
  }
  }

  .cell {
    aspect-ratio: 1;
    flex-grow: 0;
    flex-shrink: 0;
    outline: gray solid 1px;
  }

  .cell.filled {
    background-color: black;
  }

  .cell.marked {
    background: url("../../../public/icons/CloseLight24px.svg") no-repeat center center / cover ;
  }

}

