.dark-mode {
  .icon {
    fill: $warm-icon-color;
    stroke: $warm-icon-color;

    @media (hover: hover) {
      &:hover {
        fill: $highlight-dark-color;
        stroke: $highlight-dark-color;
    }
  }
  }
  .icon.mode {
    fill: $accent-text-color;
    stroke: $accent-text-color;
  }
}

.icon {
  width: clamp(48px, 8vw, 64px);
  height: clamp(48px, 8vw, 64px);
  fill: $darkest-color;
  stroke: $darkest-color;
  transition: transform 2.4s, fill 0.4s, stroke 0.4s;
  z-index: 1;

  &.right-offset {
    margin-right: -50%;
position: absolute;
  }

  &.no-interactive {
    fill: $middle-gray-color;
    stroke: $middle-gray-color;
  }

  &.hidden {
    opacity: 0;
    z-index: 0;
  }

  @media (hover: hover) {
    &:hover {
      fill: $highlight-text-color;
      stroke: $highlight-text-color;
      }
}

  &.rotor {
    @media (hover: hover) {
      &:hover {
        transform: rotate(-360deg);
}
  }
}

  &:active {
    fill: $accent-text-color;
    stroke: $accent-text-color;
  }
}

.icon.mode {
  fill: $light-hover-color;
  stroke: $light-hover-color;
}
