.container {
  display: flex;
  flex-wrap: wrap;
  margin: clamp(8px, 2dvh, 4dvh);
  row-gap: clamp(8px, 4vw, 32px);
  justify-content: space-between;
  transition: 0.8s;

  &.hidden {
    transform: scaleY(0);
    opacity: 0;
    height: 0;
    margin: 0;
  }

  .timer {
    display: flex;
    pointer-events: none;
    user-select: none;
    align-items: center;
    margin: 0;
    font-family: 'Roboto Mono';
    font-size: clamp(20px, 3vw, 32px);
  }
}

.dark-mode {
  .timer {
    color: $warm-icon-color;
  }
}