.modal-window {
  border: none;
  border-radius: 16px;
  padding: 32px;
  min-width: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0, 0%, 16%);
  color: hsl(96, 64%, 88%);
  transform: scale(0);
  opacity: 0;
  transition: all 0.4s;
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  font-weight: 600;

  p {
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  span {
    border-radius: 16px;
    letter-spacing: 1px;
  }

  &[open] {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  &::backdrop {
    background-color: rgba(32, 32, 32, 75%);
    backdrop-filter: blur(8px);
  }

  hr {
    margin-bottom: 16px;
  }
}

.message-box {
  padding: 8px;
  margin-bottom: 16px;
}

.return-button {
  background-color: hsl(96, 64%, 88%);
}
