{
  "plugins": ["prettier"],
  "extends": ["airbnb-base", "airbnb-typescript/base"],
  "parserOptions": {
  "project": "./tsconfig.json",
  "prettier"
  },
  "linterOptions": {
    "noInlineConfig": true,
  }
}
