@font-face {
  font-family: 'Inter';
  src: url(../public/fonts/Inter-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Inconsolata';
  src: url(../public/fonts/QlddNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLyya15.woff2)
    format('woff2');
}

body {
  font-family: 'Inter';
  margin: 0;
  padding: 0;
  min-width: 768px;
  margin: 0 auto;
  background-color: rgb(70, 70, 80);
  user-select: none;
}

.wrapper {
  display: block;
  background-color: white;
  margin: 0 auto;
}
